pipeline/pl_ingest_master.json
{
	"name": "pl_ingest_master",
	"properties": {
		"activities": [
			{
				"name": "act_for_all",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_for_all",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_for_all').output.value",
						"type": "Expression"
					},
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"array_list": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									},
									"dataset_source": {
										"value": "@pipeline().parameters.dataset_laptimes",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_for_all",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_for_all').output.value",
						"type": "Expression"
					},
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"array_list": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									},
									"dataset_source": {
										"value": "@pipeline().parameters.dataset_pitspots",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach1_copy2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_for_all",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_for_all').output.value",
						"type": "Expression"
					},
					"batchCount": 25,
					"activities": [
						{
							"name": "Execute Pipeline1_copy2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"array_list": {
										"value": "@item().MRData.RaceTable.Races",
										"type": "Expression"
									},
									"dataset_source": {
										"value": "@pipeline().parameters.dataset_results",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataset_results": {
				"type": "string",
				"defaultValue": "results"
			},
			"dataset_pitspots": {
				"type": "string",
				"defaultValue": "pitstops"
			},
			"dataset_laptimes": {
				"type": "string",
				"defaultValue": "laps"
			}
		},
		"annotations": []
	}
}